.box{
    width: 400px;
    height: 400px;
    background: palevioletred;
    transition-duration:1s ;
}
.box:hover{
    width: 500px;
    background: yellow;
}
.box1{
    width: 400px;
    height: 300px;
    background: red;
    transition: 0.9s;
    transform-origin: left top;
    margin: auto;
    margin-top: 50px;
}
.box1:hover{
    transform: rotate(-360deg);
}
.box2{
    width: 400px;
    height: 300px;
    background: red;
    transition: 0.9s;
    transform-origin: right  top;
    margin: auto;
    margin-top: 50px;
}
.box2:hover{
    transform: skew(40deg,50deg);
}
.box3{
    width: 400px;
    height: 300px;
    background: green;
    transition: 0.9s;
    transform-origin: left top;
    margin: auto;
    margin-top: 50px;
}
.box3:hover{
    transform: scale(1.4,2);
}
.box4{
    width: 400px;
    height: 300px;
    background: blueviolet;
    transition: 0.9s;
    transform-origin: left top;
    margin: auto;
    margin-top: 50px;
}
.box4:hover{
    transform: translate(-200px,100px);
}
